[Desktop Entry]
Name=KDocker
GenericName=Docking utility
Comment=Docks any application into system tray
Exec=kdocker
TryExec=kdocker
Icon=/usr/local/share/kdocker/icons/kdocker.png
Terminal=false
Type=Application
Categories=Application;Utility;
