[Desktop Entry]
Name=KDocker
GenericName=Docking utility
Comment=Docks most applications to the system tray
Exec=kdocker
TryExec=kdocker
Icon=com.kdocker.KDocker
Terminal=false
Type=Application
Categories=Utility
