Source: kdocker
Section: x11
Priority: optional
Maintainer: John Schember <john@nachtimwald.com>
Build-Depends: debhelper (>= 7), libx11-dev, libxpm-dev, libxmu-dev, libqt4-dev
Standards-Version: 3.8.3
Homepage: https://launchpad.net/kdocker

Package: kdocker
Architecture: any
Depends: ${shlibs:Depends}
Description: minimize all applications to system tray
 KDocker will help you dock any application into the system tray.
 This means you can dock openoffice, xmms, firefox, thunderbird,
 anything! Just point and click. Works for all NET WM compliant
 window managers - that includes KDE, GNOME, Xfce, Fluxbox and
 many more.
